<div class="row toolbar">
  <div class="col-md-12">
    <p class="pull-right">
      <span class="badge badge">{{$ctrl.messagecount($ctrl.datatoolbar)}}</span>
      unread messages
    </p>

    <a class="btn btn-danger"
    ng-click="$ctrl.formview($ctrl.plusicon)"
    >
      <i class="fa fa-plus"></i>
    </a>

    <button class="btn btn-default"
      ng-click="$ctrl.messageState($ctrl.datatoolbar)">
      <i class="fa "
        ng-class="{
        'fa-minus-square-o' : $ctrl.allMsg($ctrl.datatoolbar),
        'fa-square-o' : $ctrl.noMsg($ctrl.datatoolbar),
        'fa-check-square-o' : $ctrl.someMsg($ctrl.datatoolbar)
        }"
      ></i>
    </button>

    <button class="btn btn-default"
    ng-disabled="$ctrl.noMsg($ctrl.datatoolbar)"
    ng-click="$ctrl.markread($ctrl.datatoolbar)"
    >Mark As Read</button>

    <button class="btn btn-default"
    ng-disabled="$ctrl.noMsg($ctrl.datatoolbar)"
    ng-click="$ctrl.markunread($ctrl.datatoolbar)"
    >Mark As Unread</button>

    <select class="form-control label-select"
    ng-disabled="$ctrl.noMsg($ctrl.datatoolbar)"
    ng-model="selectedLabel"
    ng-change="$ctrl.addlabel(selectedLabel, $ctrl.datatoolbar)">
      <option ng-default>Apply label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <select defaultValue="none"  class="form-control label-select"
    ng-disabled="$ctrl.noMsg($ctrl.datatoolbar)"
    ng-model="selectedLabel"
    ng-change="$ctrl.removelabel(selectedLabel, $ctrl.datatoolbar)">
      <option value="none">Remove label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <button class="btn btn-default"
    ng-disabled="$ctrl.noMsg($ctrl.datatoolbar)"
    ng-click="$ctrl.removeselected($ctrl.datatoolbar)"
    >
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
