<div class="row toolbar">
  <div class="col-md-12">
    <p class="pull-right">
      <span class="badge badge">2</span>
      unread messages
    </p>

    <!-- <a class="btn btn-danger">
      <i class="fa fa-plus"></i>
    </a> -->

    <button class="btn btn-default"
      ng-click="$ctrl.messageState($ctrl.datatoolbar)">
      <i class="fa "
        ng-class="{
        'fa-minus-square-o' : $ctrl.allMsg($ctrl.datatoolbar),
        'fa-square-o' : $ctrl.noMsg($ctrl.datatoolbar),
        'fa-check-square-o' : $ctrl.someMsg($ctrl.datatoolbar)
        }"
      ></i>
    </button>
<!-- fa fa-minus-square-o, fa fa-square-o, fa fa-check-square-o -->
    <button class="btn btn-default"
    ng-click="$ctrl.markread($ctrl.datatoolbar)"
    >Mark As Read</button>

    <button class="btn btn-default"
    ng-click="$ctrl.markunread($ctrl.datatoolbar)"
    >Mark As Unread</button>

    <select class="form-control label-select"
    ng-model="selectedLabel"
    ng-change="$ctrl.addlabel(selectedLabel, $ctrl.datatoolbar)">
      <option>Apply label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <select class="form-control label-select">
      <option>Remove label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <button class="btn btn-default"
    ng-click="$ctrl.removeselected($ctrl.datatoolbar)"
    >
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
